<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Display Servlet (if you have it) -->
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>lab4.servlet.Q42DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q44CRUDServlet</servlet-name>
        <servlet-class>lab4.servlet.Q44CRUDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q45SessionCookieServlet</servlet-name>
        <servlet-class>lab4.servlet.Q45SessionCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q46LoginServlet</servlet-name>
        <servlet-class>lab4.servlet.auth.Q46LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <!-- Simple Interest Servlet -->
    <servlet>
        <servlet-name>Q43InterestServlet</servlet-name>
        <servlet-class>lab4.servlet.Q43InterestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Q43InterestServlet</servlet-name>
        <url-pattern>/Q43InterestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q44CRUDServlet</servlet-name>
        <url-pattern>/Q44CRUDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q45SessionCookieServlet</servlet-name>
        <url-pattern>/Q45SessionCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q46LoginServlet</servlet-name>
        <url-pattern>/Q46LoginServlet</url-pattern>
    </servlet-mapping>
</web-app>
